node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
ios
android
index.js
metro.config.js
.env
GoogleService-Info.plist
google-services.json
*.ipa
*.aab
