.privacy {
    padding: calc((var(--header-height) + 1rem) * 2) 0;
    min-height: 100%;
    width: 100%;
    text-align: right;
}

@media only screen and (min-width: 768px) {
    .privacy {
        text-align: center;
    }
}
