client/node_modules/**/*
client/.expo/*
client/npm-debug.*
client/*.jks
client/*.p8
client/*.p12
client/*.key
client/*.mobileprovision
client/*.orig.*
client/web-build/
client/web-report/

# macOS
client/.DS_Store

client/lib/apiKeys.js

#global

#server
server/node_modules/**/*