client/node_modules/**/*
client/.expo/*
client/npm-debug.*
client/*.jks
client/*.p8
client/*.p12
client/*.key
client/*.mobileprovision
client/*.orig.*
client/web-build/
client/web-report/
client/app.config.js
client/lib/apiKeys.js
client/GoogleService-Info.plist
client/google-services.json
client/ios
client/android
client/index.js
client/metro.config.js
client/.env

# macOS
client/.DS_Store

#global

#server
server/node_modules/**/*
server/functions/firebaseKey.json
node_modules
web/.firebase/hosting.YnVpbGQ.cache
