.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 500px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 650px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 850px;
    }
}
