.home {
    width: 100%;
    overflow-y: hidden;
}
.phoneSection {
    padding: 56px 20px;
    min-height: 100%;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 4rem;
    gap: 0.5rem;
    max-height: 600px;
}

.phoneContainer {
    width: 100%;
}
.phone {
    height: 350px;
    object-fit: contain;
    width: 100%;
}

.phoneContainer img {
    user-select: none;
}
.downloadBage {
    text-align: center;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 1rem;
    height: 50px;
    user-select: none;
}
.downloadBage img {
    user-select: none;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.downloadBage[disabled='true'] img {
    filter: opacity(0.2);
}
.downloadBage[disabled='true']::after {
    content: 'coming soon';
    position: absolute;
    color: #62ffa3;
    font-weight: 600;
    font-size: 0.8rem;
    top: 50%;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (max-width: 360px) {
    .downloadBage {
        max-width: 120px;
    }
    .phone {
        height: 300px;
    }
    .phoneContainer {
        margin: 0 0.5rem;
        margin-top: 70px;
    }
}

@media only screen and (min-width: 768px) {
    .phone {
        height: 400px;
    }
    .phoneSection {
        width: 60%;
    }
    .phoneContainer {
        justify-self: center;
    }
}
